{% extends 'AdminBundle:CRUD:list.html.twig' %}

{% block breadcrumbs %}
    {{ app.breadcrumbs.prepend('Список', path('admin_question_list')) }}
    {{ app.breadcrumbs.prepend('Вопросы', path('admin_question_list')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Список вопросов{% endblock %}

{% block content_options %}
    {#{% form_theme importForm 'AdminBundle:Form:theme.html.twig' %}
    {% form_theme importForm.submit _self %}
    {{ form(importForm) }}#}
    <a href="{{ path('admin_question_new') }}" title="Добавить" class="bg"><i class="fa fa-plus-square"></i></a>
{% endblock %}

{% block additional_panel %}
    {% if importForm is defined %}
        {% form_theme importForm 'AdminBundle:Form:theme.html.twig' %}
        {% form_theme importForm.submit _self %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Импорт</div>

                <div class="panel-options">
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="close" class="bg"><i class="entypo-cancel"></i></a>
                </div>
            </div>

            <div class="panel-body">
                {{ form(importForm) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block thead %}
    <tr>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Вопрос', 'q.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Категория', 'q.category') }}</th>
        <th class="sorted">Действия</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for item in pagination %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.category.name }}</td>
            <td>
                <a href="{{ path('admin_question_edit', {id: item.id}) }}" class="btn btn-default btn-sm btn-icon icon-left"><i class="entypo-pencil"></i> Редактировать</a>
                <a href="{{ path('admin_question_remove', {id: item.id}) }}" class="btn btn-danger btn-sm btn-icon icon-left remove-element"><i class="entypo-trash"></i> Удалить</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block submit_widget %}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="submit" {{ block('button_attributes') }}><i class="fa fa-download"></i> {{ label|trans({}, translation_domain) }}</button>
    {% endspaceless %}
{% endblock %}