{% extends 'AdminBundle:CRUD:list.html.twig' %}

{% block breadcrumbs %}
    {{ app.breadcrumbs.prepend('Список', path('admin_user_list')) }}
    {{ app.breadcrumbs.prepend('Пользователи', path('admin_user_list')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Список пользователей{% endblock %}

{% block content_options %}
    <a href="{{ path('admin_user_new') }}" title="Добавить" class="bg"><i class="entypo-plus"></i></a>
{% endblock %}

{% block thead %}
    <tr>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Роли', 'u.roles') }}</th>
        <th class="sorted">{{ 'Активность' }}</th>
        <th class="sorted">Действия</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for item in pagination %}
        <tr>
            <td>{{ item.email }}</td>
            <td>{{ roles(item.roles) }}</td>
            <td>{{ item.isEnabled ? 'Да' : 'Нет'  }}</td>
            <td>
                <a href="{{ path('admin_user_edit', {id: item.id}) }}" class="btn btn-default btn-sm btn-icon icon-left"><i class="entypo-pencil"></i> Редактировать</a>
                <a href="{{ path('admin_user_remove', {id: item.id}) }}" class="btn btn-danger btn-sm btn-icon icon-left remove-element"><i class="entypo-trash"></i> Удалить</a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
